<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Feedback</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>All Feedback</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="feedback : ${feedbackList}">
        <td th:text="${feedback.id}"></td>
        <td th:text="${feedback.name}"></td>
        <td th:text="${feedback.email}"></td>
        <td th:text="${feedback.description}"></td>
        <td>
            <a th:href="@{/get/{id}(id=${feedback.id})}">
                <button type="button"> Update </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
